.container {
  padding: 40px;
  margin: 40px auto;
  width: 320px;
  border-radius: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.color-btn {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  background: #eee;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.color-btn:hover {
  transform: scale(1.05);
}
